.card {
  width: 250px;
  height: 150px;
  background-color: white;
  border: 2px solid red;
  border-radius: 5px;
  box-shadow: 2px 2px 5px grey;
  overflow: auto;
}

.card:hover {
  cursor: pointer;

}

.task-top-row {
  display: flex;
  justify-content: left;
  width: 100%;
  gap: 30px;
  padding: 15px;
}

.task-bottom-row {
  display: flex;
  justify-content: left;
  width: 100%;
  gap: 30px;
  padding: 15px;
}
.form-box {
  background-color: #f2f2f2;
  border: 1px solid #ccc;
  padding: 10px;
  width: 400px;
  float: right;
  margin-right: 15px;
}

.container {
  width: 100%;
}

form {
  display: flex;
  flex-direction: column;
  float: right;
}

label {
  font-weight: bold;
}

input[type="text"],
input[type="email"],
textarea {
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

input[type="submit"] {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #45a049;
}

body {
  background-color: linear gradient (white 50%, gray 50%);
  color: white;
}
